.c1_11 { 
	overflow:hidden;
}
.c1_11 { 
	background-color:rgba(249, 250, 255, 1);
	width:1440px;
	height:3813px;
	position:absolute;
}
.c1_12 { 
	width:720px;
	height:629px;
	position:absolute;
	left:720px;
	top:0px;
}
.c1_13 { 
	background-image:url(images/yellow-bg.png);
	background-repeat:no-repeat;
	background-size:cover;
	width:777px;
	height:877px;
	position:absolute;
	left:0px;
	top:-248px;
}
.c1_16 { 
	width:777px;
	height:877px;
	position:absolute;
	left:0px;
	top:-248px;
}
.c1_14 { 
	overflow:hidden;
}
.c1_14 { 


	width:777px;
	height:877px;
	position:absolute;
	left:0px;
	top:0px;
}
.c1_16 { 
	width:720px;
	height:629px;
	position:absolute;
	left:-1px;
	top:400px;
	background-image:url(images/poem-portrait.png);
	background-repeat:no-repeat;
	background-size:70% auto;
	background-
}
.c1_15 { 
	width:1440px;
	height:56px;
	position:absolute;
	left:0px;
	top:0px;
}
.c1_15 a{
	text-decoration: none;
	color: black;
}

.c1_15  a:hover {
  background-color: white;
}
a:active {
  color: blue;
}
.cl1_15_1_3 { 
	color:rgba(37, 40, 43, 1);
	width:130px;
	height:32px;
	position:absolute;
	left:120px;
	top:12px;
	font-family:Comfortaa;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.cl1_15_1_4 { 
	width:292px;
	height:28px;
	position:absolute;
	left:1028px;
	top:14px;
}
.cl1_15_1_5 { 
	width:52px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
}
.cl1_15_1_5_1_9 { 
	color:rgba(37, 40, 43, 1);
	width:52px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Raleway;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.cl1_15_1_6 { 
	width:69px;
	height:28px;
	position:absolute;
	left:100px;
	top:0px;
}
.cl1_15_1_6_1_9 { 
	color:rgba(37, 40, 43, 1);
	width:69px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Raleway;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.cl1_15_1_7 { 
	width:75px;
	height:28px;
	position:absolute;
	left:217px;
	top:0px;
}
.cl1_15_1_7_1_9 { 
	color:rgba(37, 40, 43, 1);
	width:75px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Raleway;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.c1_70 { 
	width:992px;
	height:1892px;
	position:absolute;
	left:222px;
	top:773px;
}
.c1_71 { 
	width:181px;
	height:80px;
	position:absolute;
	left:405.5px;
	top:0px;
}
.c1_72 { 
	color:rgba(37, 40, 43, 1);
	width:181px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Playfair Display;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}
.c1_73 { 
	background-color:rgba(253, 196, 53, 1);
	width:100px;
	height:4px;
	position:absolute;
	left:40.5px;
	top:76px;
	border-radius:2px;

}
.c1_74 { 
	box-shadow:0px 6px 64px rgba(112, 144, 176, 0.1);
	width:992px;
	height:524px;
	position:absolute;
	left:0px;
	top:160px;
	border-radius:24px;

}
.c1_75 { 
	background-color:rgba(255, 255, 255, 1);
	width:496px;
	height:524px;
	position:absolute;
	left:0px;
	top:0px;
}
.cl1_75_1_13 { 
	width:406px;
	height:232px;
	position:absolute;
	left:50px;
	top:146px;
}
.cl1_75_1_14 { 
	color:rgba(37, 40, 43, 1);
	width:406px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Playfair Display;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.cl1_75_1_15 { 
	color:rgba(130, 130, 130, 1);
	width:406px;
	height:81px;
	position:absolute;
	left:0px;
	top:84px;
	font-family:Nunito;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.cl1_75_1_16 { 
	border:1px solid rgba(37, 40, 43, 1);
}
.cl1_75_1_16 { 
	width:150px;
	height:43px;
	position:absolute;
	left:0px;
	top:189px;
	border-radius:24px;
}
.cl1_75_1_17 { 
	color:rgba(37, 40, 43, 1);
	width:102px;
	height:27px;
	position:absolute;
	left:24px;
	top:11px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.cl1_75_1_17 a{
	text-decoration: none;
	color: black;
}
.cl1_75_1_17 a:hover{
	color: red;
	border-color: ;
}
.c1_76 { 
	width:496px;
	height:526px;
	position:absolute;
	left:496px;
	top:0px;
	background-image:url(images/project1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.c1_77 { 
	box-shadow:0px 6px 64px rgba(112, 144, 176, 0.1);
	width:992px;
	height:524px;
	position:absolute;
	left:0px;
	top:764px;
	border-radius:24px;

}
.c1_78 { 
	width:496px;
	height:524px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/project2.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.c1_79 { 
	background-color:rgba(255, 255, 255, 1);
	width:496px;
	height:524px;
	position:absolute;
	left:496px;
	top:0px;
}
.cl1_79_1_13 { 
	width:406px;
	height:205px;
	position:absolute;
	left:50px;
	top:160px;
}
.cl1_79_1_14 { 
	color:rgba(37, 40, 43, 1);
	width:406px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Playfair Display;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.cl1_79_1_15 { 
	color:rgba(130, 130, 130, 1);
	width:406px;
	height:54px;
	position:absolute;
	left:0px;
	top:84px;
	font-family:Nunito;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.cl1_79_1_16 { 
	border:1px solid rgba(37, 40, 43, 1);
}
.cl1_79_1_16 a{
	text-decoration: none;
	color: black;
}
.cl1_79_1_16 a:hover{
	color: red;
}
.cl1_79_1_16 { 
	width:150px;
	height:43px;
	position:absolute;
	left:0px;
	top:162px;
	border-radius:24px;

}
.cl1_79_1_17 { 
	color:rgba(37, 40, 43, 1);
	width:102px;
	height:27px;
	position:absolute;
	left:24px;
	top:11px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.c1_80 { 
	box-shadow:0px 6px 64px rgba(112, 144, 176, 0.1);
	width:992px;
	height:524px;
	position:absolute;
	left:0px;
	top:1368px;
	border-radius:24px;

}
.c1_81 { 
	background-color:rgba(255, 255, 255, 1);
	width:496px;
	height:524px;
	position:absolute;
	left:0px;
	top:0px;
}
.cl1_81_1_13 { 
	width:406px;
	height:205px;
	position:absolute;
	left:50px;
	top:160px;
}
.cl1_81_1_14 { 
	color:rgba(37, 40, 43, 1);
	width:406px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Playfair Display;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.cl1_81_1_15 { 
	color:rgba(130, 130, 130, 1);
	width:406px;
	height:54px;
	position:absolute;
	left:0px;
	top:84px;
	font-family:Nunito;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.cl1_81_1_16 { 
	border:1px solid rgba(37, 40, 43, 1);
}
.cl1_81_1_16 a{
	text-decoration: none;
	color: black;
}
.cl1_81_1_16 a:hover{
	color: red;
}
.cl1_81_1_16 { 
	width:150px;
	height:43px;
	position:absolute;
	left:0px;
	top:162px;
	border-radius:24px;

}
.cl1_81_1_17 { 
	color:rgba(37, 40, 43, 1);
	width:102px;
	height:27px;
	position:absolute;
	left:24px;
	top:11px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.c1_82 { 
	width:496px;
	height:524px;
	position:absolute;
	left:496px;
	top:0px;
	background-image:url(images/project3.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.c1_17 { 
	width:486px;
	height:408px;
	position:absolute;
	left:120px;
	top:111px;
}
.c1_84 { 
	color:rgba(253, 196, 53, 1);
	width:486px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.c1_85 { 
	width:486px;
	height:369px;
	position:absolute;
	left:0px;
	top:39px;
}
.c1_86 { 
	color:rgba(51, 51, 51, 1);
	width:486px;
	height:154px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Playfair Display;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.c1_87 { 
	width:486px;
	height:108px;
	position:absolute;
	left:0px;
	top:186px;
}
.c1_88 { 
	color:rgba(130, 130, 130, 1);
	width:486px;
	height:108px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:px;
}
.c1_89 { 
	width:244px;
	height:43px;
	position:absolute;
	left:0px;
	top:326px;
}
.c1_90 { 

	background-color:rgba(253, 196, 53, 1);
	width:115px;
	height:43px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:8px;

}
.c1_90 a{
	text-decoration: none;
	color: black;
}
.cl1_90_1_19 { 
	color:rgba(37, 40, 43, 1);
	width:67px;
	height:27px;
	position:absolute;
	left:24px;
	top:11px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.c1_91 { 
	border:2px solid rgba(37, 40, 43, 1);
}
.c1_91 a{
	text-decoration: none;
	color: black;

}
.c1_91 { 
	width:117px;
	height:43px;
	position:absolute;
	left:127px;
	top:0px;
	border-radius:8px;

}
.cl1_91_1_21 { 
	color:rgba(37, 40, 43, 1);
	width:69px;
	height:27px;
	position:absolute;
	left:24px;
	top:11px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.c1_92 { 
	width:1440px;
	height:1004px;
	position:absolute;
	left:0px;
	top:2809px;
}
.c1_93 { 
	background-image:url(images/vector.png);
	width:1440px;
	height:344px;
	position:absolute;
	left:0px;
	top:660px;
}
.c1_94 { 
	width:400px;
	height:603px;
	position:absolute;
	left:520px;
	top:160px;
}
.c1_95 { 
	width:400px;
	height:445px;
	position:absolute;
	left:0px;
	top:0px;
}
.c1_96 { 
	width:400px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}
.cl1_96_1_23 { 
	width:44px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.cl1_96_1_23_1_26 { 
	color:rgba(37, 40, 43, 1);
	width:43px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.cl1_96_1_24 { 
	background-color:rgba(255, 255, 255, 1);
	width:400px;
	height:40px;
	position:absolute;
	left:0px;
	top:30px;
	border-radius:8px;

}
.cl1_96_1_24 { 
	border:1px solid rgba(231, 235, 244, 1);
}
.c1_97 { 
	width:400px;
	height:70px;
	position:absolute;
	left:0px;
	top:94px;
}
.cl1_97_1_23 { 
	width:44px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.cl1_97_1_23_1_26 { 
	color:rgba(37, 40, 43, 1);
	width:40px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.cl1_97_1_24 { 
	background-color:rgba(255, 255, 255, 1);
	width:400px;
	height:40px;
	position:absolute;
	left:0px;
	top:30px;
	border-radius:8px;

}
.cl1_97_1_24 { 
	border:1px solid rgba(231, 235, 244, 1);
}
.c1_98 { 
	width:400px;
	height:190px;
	position:absolute;
	left:0px;
	top:188px;
}
.cl1_98_1_30 { 
	width:44px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.cl1_98_1_30_1_26 { 
	color:rgba(37, 40, 43, 1);
	width:64px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Nunito;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.cl1_98_1_31 { 
	background-color:rgba(255, 255, 255, 1);
	width:400px;
	height:160px;
	position:absolute;
	left:0px;
	top:30px;
	border-radius:8px;

}
.cl1_98_1_31 { 
	border:1px solid rgba(231, 235, 244, 1);
}
.c1_99 { 
	background-color:rgba(253, 196, 53, 1);
	width:89px;
	height:43px;
	position:absolute;
	left:311px;
	top:402px;
	border-radius:8px;

}
.c1_99 a{
	text-decoration: none;
	color: black;
}
.cl1_99_1_19 { 
	color:rgba(37 ,40, 43, 1);
	width:41px;
	height:27px;
	position:absolute;
	left:24px;
	top:11px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.c1_100 { 
	width:192px;
	height:102px;
	position:absolute;
	left:104px;
	top:501px;
}
.cl1_100_1_35 { 
	width:192px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
.cl1_100_1_36 { 
	width:48px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
.cl1_100_1_36_1_41 { 
	background-image:url(images/vector1.png);
	width:37px;
	height:37px;
	position:absolute;
	left:5px;
	top:5px;
}
.cl1_100_1_37 { 
	width:48px;
	height:48px;
	position:absolute;
	left:72px;
	top:0px;
}
.cl1_100_1_37_1_43 { 
	width:38px;
	height:38px;
	position:absolute;
	left:5px;
	top:5px;
}
.cl1_100_1_37_1_44 { 
	background-image:url(images/group1.png);
	width:38px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
}
.cl1_100_1_38 { 
	width:48px;
	height:48px;
	position:absolute;
	left:144px;
	top:0px;
}
.cl1_100_1_38_1_46 { 
	width:42px;
	height:32px;
	position:absolute;
	left:3px;
	top:8px;
}
.cl1_100_1_38_1_47 { 
	background-image:url(images/group.png);
	width:42px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
}
.cl1_100_1_39 { 
	color:rgba(130, 130, 130, 1);
	width:170px;
	height:22px;
	position:absolute;
	left:25px;
	top:80px;
	font-family:Nunito;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.c1_101 { 
	width:181px;
	height:80px;
	position:absolute;
	left:618px;
	top:0px;
}
.cl1_101_1_72 { 
	color:rgba(37, 40, 43, 1);
	width:181px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Playfair Display;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
	line-height:px;
}
.cl1_101_1_73 { 
	background-color:rgba(253, 196, 53, 1);
	width:100px;
	height:4px;
	position:absolute;
	left:40.5px;
	top:76px;
	border-radius:2px;

}
